.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}

.basket-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 500px;
    background-color: #FFFFFF;
    z-index: 400;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    height: 40px;
    position: relative;
}

.modal-header::before {
    content: '';
    position: absolute;
    display: block;
    border-left: 1px solid #ebebeb;
    top: 0;
    bottom: 0;
    left: 50%;
}

.modal-header__input {
    display: none;
}

.modal-header-label {
    width: 50%;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.modal-header__span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

.modal-header__input:checked + .modal-header__span {
    background-color: #ebebeb;
}

.modal-header .modal-header-label:first-child .modal-header__span {
    border-radius: 5px 0 0 0 ;
}

.modal-header .modal-header-label:last-child .modal-header__span {
    border-radius: 0 5px 0 0 ;
}

.modal-input-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.scrolling-wrapp {
    padding: 20px;
    height: 560px;
    overflow-y: scroll;
}

.modal-form__label {
    position: relative;
    display: block;
}

.modal-form__span {
    display: block;
    margin-bottom: 5px;
}

.modal-form__input {
    width: 100%;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: .25rem;
    display: block;
    height: 36px;
    padding: 8px 7px;
    font-size: 14px;
    line-height: 36px;
}

.list__item {
    margin-bottom: 20px;
    position: relative;
    list-style: none;
}

.addition-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.modal-item__submit {
    width: 60%;
}

.close-modal__button {
    width: 30%;
}

.required-label {
    display: block;
    position: absolute;
    color: tomato;
    font-size: 12px;
    line-height: 16px;
}

.list__item .error__input,
.list__item .error__select {
    position: relative;
}

.list__item .error__input::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid tomato;
    border-radius: 5px;
}

.list__item .error__select > div > div  {
    border-color: tomato;
}

.addition-label {
    display: inline-block;
    width: 50%;
}

.addition-label input {
    display: none;
}

.addition__span {
    cursor: pointer;
    display: block;
    border: 1px solid #ebebeb;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.addition-label input:checked + .addition__span {
    background-color: #ebebeb;
}

.add-list {
    margin-top: 20px;
}